<div class="page-container">
<div class="navigation-bar">
<%= link_to image_tag('backarrow.png', alt: 'Back'), categories_path, class: 'back-button' %>
<h2 class="page-title"><strong>Editing Category</strong></h2>
<%= button_to 'Sign Out', destroy_user_session_path, method: :delete, form: { class: "sign-out-form" }, class: "sign-out" %>
</div>

<%= render "form", category: @category %>
</div>